[Unit]
Description=automate discord member verification process

[Service]
WorkingDirectory=
Type=simple
ExecStart=sudo docker run --network=host -d service/discord-verification
Restart=always

[Install]
WantedBy=multi-user.target