[Unit]
Description=automate discord member verification process

[Service]
WorkingDirectory=
Type=simple
ExecStart=sudo docker run --publish 3000:3000 -d service/discord-verification
Restart=always

[Install]
WantedBy=multi-user.target